.detail-clinic-container {
    background-color: rgba(238, 238, 238, 1);

    .detail-clinic-container__desc {
        background-image: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 1));
        padding: 30px 0;

        .detail-clinic-container__desc--name {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 600;
        }

        .detail-clinic-container__desc--address {
            font-size: 16px;
            font-weight: 600;
            padding: 10px 0;
        }
    }

    .detail-clinic-container__search {
        margin-top: 20px;

        .detail-clinic-container__search--list {
            padding: 8px;
            color: #212529;
            border: 1px solid #ced4da;
            border-radius: 5px;

            &:focus {
                outline: none;
            }
        }
    }

    .detail-clinic-content {
        margin-top: 20px;
        padding-bottom: 50px;

        .detail-clinic-container__list {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 1px 6px #ccc;
            border-radius: 8px;
            border-bottom: none;
            margin-bottom: 20px;

            .detail-clinic-container__list--left {
                width: 50%;
            }

            .detail-clinic-container__list--right {
                width: 50%;

                .detail-clinic-container__list--right-top {
                    padding-left: 20px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #eee;
                }
            }
        }
    }
}