.manage-doctor-container {
    padding-bottom: 50px;

    .manage-doctor__desc {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    
        .manage-doctor__desc-text {
            resize: none;
        }
    
        .manage-doctor__desc-title {
            font-size: 14px;
            font-weight: bold;
        }
    
        .manage-doctor__desc--right {
            padding-left: 0;
        }
    
        .manage-doctor__desc--left {  
            padding-right: 0 ;
        }
    }
    
    .manage-doctor__desc-extra {
    
        .manage-doctor__desc-title {
            font-size: 14px;
            font-weight: bold;
        }
    }
}