#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0071ba;
    color: white;
  }
  .btn-edit {
      border: none;
      outline: none;
      color: rgba(253,187,45,1);
      border-radius: 5px;
      background-color: transparent;
      font-size: 20px;
      margin-right: 10px;

      &:hover{
        background-color: transparent;
        color: rgba(253,187,45,1);
      }
  }
  .btn-delete {
    border: none;
    outline: none;
    color: rgb(236, 69, 69);
    border-radius: 5px;
    background-color: transparent;
    font-size: 20px;

    &:hover{
      background-color: transparent;
      color: rgb(236, 69, 69);
    }
}

.modal-user__container {

  .modal-header {
    background-color: #0071ba;
    color: white;
    text-align: center;
  }
  .modal-user__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
    input {
      outline: none;
      border-radius: 5px;
      border: 1px solid #ccc;
      padding: 4px 10px;
    }

    label{
      font-weight: 600;
    }
  }

  .modal-user__btn--close,
  .modal-user__btn--save {
    padding: 4px 20px;
  }
  .close {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 30px;
    color: white;
  }

  .modal-user__gender {
    display: flex;

    .modal-user__gender-item{
      display: flex;
      align-items: center;

      &:nth-child(1){
        margin-right: 20px;
      }

      input {
        margin-right: 5px;
      }
    }
  }
}