.footer {
    background-color: #64b9e5;

    .section-footer {
        padding: 20px 0;

        .section-footer-content {
            text-align: center;
            font-size: 16px;
        }   
    }
}